In [1]:
import pandas as pd
import numpy as np

In [3]:
#############################################
######## Hornet Data Train - preprocessing###
#############################################
hornet_dataset_train = pd.read_excel(r'HORNET_PressureTags_2017_04_15_to_2017_06_01.xlsx')
hornet_data_upper_annular = hornet_dataset_train[['last_active_time','Active','upper_ann_open_current','upper_ann_close_current','UA RegPilotPes','UA RegRdbakPes','pod_pilot_pres_podtrans','pod_supply_pres_podtrans', 'pod_1_adj', 'pod_2_adj']]

In [6]:
hornet_dataset_train.head()

,last_active_time,Active,LA Open Current,LA RegRdbakPes,LA RegPilotPes,UA RegPilotPes,UA RegRdbakPes,pod_pilot_pres_podtrans,pod_supply_pres_podtrans,lower_ann_open_current,lower_ann_close_current,upper_ann_open_current,upper_ann_close_current,Pod1 Total1,Pod1 Total2,Pod2 Total1,Pod2 Total2,user_entered_reference_pres_podtrans,pod_1_adj,pod_2_adj
0,2017-04-15 08:46:40,1,238,3551.830078,3407.360107,3269.750000,3285.540039,4968.430176,4981.879883,238,1,240,1,4122.350098,0,878.780029,6682.919922,0,1836.160034,1841.359985
1,2017-04-15 08:46:51,1,238,3414.629883,3274.110107,3474.110107,3528.679932,4968.430176,4855.069824,238,1,241,1,4122.350098,0,878.780029,6682.919922,0,1836.160034,1841.359985
2,2017-04-15 08:47:02,1,238,3407.010010,3248.729980,3474.110107,3528.679932,4968.430176,4855.069824,238,0,241,1,4122.350098,0,878.780029,6682.919922,0,1836.160034,1841.359985
3,2017-04-15 08:47:17,1,238,3407.010010,3236.040039,3474.110107,3528.679932,4968.430176,4855.069824,238,1,241,1,4122.350098,0,878.780029,6682.919922,0,1836.160034,1841.359985
4,2017-04-15 08:47:28,1,238,3399.389893,3248.729980,3474.110107,3516.209961,4968.430176,4855.069824,238,0,241,1,3307.870117,0,878.780029,6682.919922,0,1836.160034,1841.359985

In [7]:
hornet_dataset_train.describe()

,Active,LA Open Current,LA RegRdbakPes,LA RegPilotPes,UA RegPilotPes,UA RegRdbakPes,pod_pilot_pres_podtrans,pod_supply_pres_podtrans,lower_ann_open_current,lower_ann_close_current,upper_ann_open_current,upper_ann_close_current,Pod1 Total1,Pod1 Total2,Pod2 Total1,Pod2 Total2,user_entered_reference_pres_podtrans,pod_1_adj,pod_2_adj
count,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.000000,536145.0,536145.000000,536145.000000,536145.0,536145.000000,536145.000000
mean,1.793739,224.272221,3324.704911,3346.345387,3264.750448,3365.376175,4990.166870,4711.769834,224.272221,5.867338,224.650772,6.546283,6715.836834,0.0,4425.518139,6682.919922,0.0,1824.781261,1874.546567
std,0.404621,52.728889,264.555279,207.907152,215.655381,250.873142,83.626909,248.325672,52.728889,36.181270,54.220664,38.231132,1614.827385,0.0,2375.570119,0.000000,0.0,26.353552,19.797931
min,1.000000,0.000000,1803.979980,2524.510010,1912.569946,1850.250000,4236.529785,3152.169922,0.000000,0.000000,0.000000,0.000000,3307.870117,0.0,876.820007,6682.919922,0.0,1764.709961,1805.949951
25%,2.000000,236.000000,3293.770020,3327.209961,3228.350098,3344.909912,4947.600098,4497.279785,236.000000,0.000000,237.000000,0.000000,5525.430176,0.0,2430.810059,6682.919922,0.0,1799.719971,1864.859985
50%,2.000000,236.000000,3346.040039,3381.979980,3320.209961,3414.350098,5007.580078,4775.819824,236.000000,0.000000,237.000000,0.000000,6199.779785,0.0,4216.379883,6682.919922,0.0,1834.729980,1876.770020
75%,2.000000,237.000000,3434.719971,3400.739990,3346.459961,3489.580078,5037.879883,4932.069824,237.000000,1.000000,237.000000,1.000000,8467.900391,0.0,6385.540039,6682.919922,0.0,1834.729980,1898.650024
max,2.000000,454.000000,3940.550049,3794.419922,4816.080078,4875.310059,5166.669922,5104.169922,454.000000,462.000000,456.000000,462.000000,9140.000000,0.0,8188.430176,6682.919922,0.0,1906.780029,1898.650024

In [17]:
list(hornet_dataset_train.columns.values)

['last_active_time',
 'Active',
 'LA Open Current',
 'LA RegRdbakPes',
 'LA RegPilotPes',
 'UA RegPilotPes',
 'UA RegRdbakPes',
 'pod_pilot_pres_podtrans',
 'pod_supply_pres_podtrans',
 'lower_ann_open_current',
 'lower_ann_close_current',
 'upper_ann_open_current',
 'upper_ann_close_current',
 'Pod1 Total1',
 'Pod1 Total2',
 'Pod2 Total1',
 'Pod2 Total2',
 'user_entered_reference_pres_podtrans',
 'pod_1_adj',
 'pod_2_adj']

In [16]:
list(hornet_data_upper_annular.columns.values)

['last_active_time',
 'Active',
 'upper_ann_open_current',
 'upper_ann_close_current',
 'UA RegPilotPes',
 'UA RegRdbakPes',
 'pod_pilot_pres_podtrans',
 'pod_supply_pres_podtrans',
 'pod_1_adj',
 'pod_2_adj']

In [20]:
hornet_data_upper_annular["UA RegPilotPes"].head()

0    3269.750000
1    3474.110107
2    3474.110107
3    3474.110107
4    3474.110107
Name: UA RegPilotPes, dtype: float64

In [18]:
### Pressure Adjustments ###
hornet_data_upper_annular['UA RegPilotPes Adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['UA RegPilotPes'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['UA RegPilotPes'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
#Logic of elsif statement i.e. where(condition, value1, value2)
hornet_data_upper_annular['UA RegRdbakPes Adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['UA RegRdbakPes'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['UA RegRdbakPes'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
list(hornet_data_upper_annular.columns.values)

['last_active_time',
 'Active',
 'upper_ann_open_current',
 'upper_ann_close_current',
 'UA RegPilotPes',
 'UA RegRdbakPes',
 'pod_pilot_pres_podtrans',
 'pod_supply_pres_podtrans',
 'pod_1_adj',
 'pod_2_adj',
 'UA RegPilotPes Adj',
 'UA RegRdbakPes Adj',
 'pod_pilot_pres_podtrans_adj',
 'pod_supply_pres_podtrans_adj']

In [23]:
hornet_data_upper_annular['pod_pilot_pres_podtrans_adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['pod_pilot_pres_podtrans'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['pod_pilot_pres_podtrans'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
hornet_data_upper_annular['pod_supply_pres_podtrans_adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['pod_supply_pres_podtrans'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['pod_supply_pres_podtrans'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
hornet_data_upper_annular.to_csv(r'hornet_data_upper_annular_train.csv', index = False)

In [29]:
#############################################
######## Hornet Data Test - preprocessing####
#############################################
## Data in hornet_data_upper_annular_test 
## test data that is from 2nd of June till 20 August is for testing purpose 
## in the end of 1.pre_processing python, 
## you see hornet_data_upper_annular.to_csv(r'hornet_data_upper_annular_test.csv', index = False) 
hornet_dataset_test = pd.read_csv(r'HORNET_PressureTags_2017_06_02_to_2017_08_20_test_predicted.csv')

In [30]:
hornet_data_upper_annular = hornet_dataset_test[['last_active_time','Active','upper_ann_open_current','upper_ann_close_current','UA RegPilotPes','UA RegRdbakPes','pod_pilot_pres_podtrans','pod_supply_pres_podtrans', 'pod_1_adj', 'pod_2_adj']]

In [31]:
### Pressure Adjustments ###
hornet_data_upper_annular['UA RegPilotPes Adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['UA RegPilotPes'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['UA RegPilotPes'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
hornet_data_upper_annular['UA RegRdbakPes Adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['UA RegRdbakPes'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['UA RegRdbakPes'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
hornet_data_upper_annular['pod_pilot_pres_podtrans_adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['pod_pilot_pres_podtrans'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['pod_pilot_pres_podtrans'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
hornet_data_upper_annular['pod_supply_pres_podtrans_adj'] = np.where(hornet_data_upper_annular['Active'] == 1, hornet_data_upper_annular['pod_supply_pres_podtrans'] - hornet_data_upper_annular['pod_1_adj'], hornet_data_upper_annular['pod_supply_pres_podtrans'] - hornet_data_upper_annular['pod_2_adj'])

C:\Program Files\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
hornet_data_upper_annular.to_csv(r'hornet_data_upper_annular_test.csv', index = False)