In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import pickle

In [11]:
#0 hornet_data_upper_annular_train = pd.read_csv(r'hornet_data_upper_annular_train.csv') 
#LION_2017_04_24_to_2017_08_07
lion_data_upper_annular_train = pd.read_csv(r'LION_2017_04_24_to_2017_08_07.csv')

In [12]:
#should be using only train data instead of entire data
X_train = np.array(lion_data_upper_annular_train[['upper_ann_open_current', 'upper_ann_close_current', 'UA RegPilotPes_adj', 'UA RegRdbakPes_adj', 'pod_pilot_pres_podtrans_adj', 'pod_supply_pres_podtrans_adj']])

In [13]:
#>>>>>How was number of clusters concluded as 13 for Kmean model buidling.
kmeans_model = KMeans(n_clusters=13, random_state=0, max_iter = 600).fit(X_train)

In [14]:
kmeans_model.labels_

array([12,  2,  2, ...,  6,  6,  6])

In [15]:
lion_data_upper_annular_train['predicted_state'] = kmeans_model.labels_

In [16]:
#>>>>What does 1,2,0 type anomaly means
#>>> how did you select certain labels as anomaly e.g. 2,4,8 
lion_data_upper_annular_train['anomaly'] = np.where(lion_data_upper_annular_train['predicted_state'].isin([2,4,8]),2,np.where(lion_data_upper_annular_train['predicted_state'].isin([5,6]),1,0))

In [ ]:
lion_data_upper_annular_train.to_csv(r'lion_data_upper_annular_train_cluster1_trial_2.csv', index = False)

In [10]:
lion_data_upper_annular_train[['predicted_state']]

         predicted_state
0                     12
1                      2
2                      2
3                      2
4                      2
5                      2
6                      2
7                      2
8                      2
9                      2
10                     2
11                     2
12                     2
13                     2
14                     2
15                     2
16                     2
17                     2
18                     2
19                     2
20                     2
21                     2
22                     2
23                     2
24                     2
25                     2
26                     2
27                     2
28                     2
29                     2
...                  ...
1992802                6
1992803                6
1992804                6
1992805                6
1992806                6
1992807                6
1992808                6
1992809                6
1992810                6
1992811                6
1992812                6
1992813                6
1992814                6
1992815                6
1992816                6
1992817                6
1992818                6
1992819                6
1992820                6
1992821                6
1992822                6
1992823                6
1992824                6
1992825                6
1992826                6
1992827                6
1992828                6
1992829                6
1992830                6
1992831                6

[1992832 rows x 1 columns]

In [16]:
### Save Model

file = open(r'kmeans_model.pkl', 'wb')
pickle.dump(kmeans_model, file)